## Set up

In [4]:
%qtconsole

In [5]:
%matplotlib inline

## Imports

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Read data

In [26]:
df = pd.read_csv("data/babynames.csv")

## First look at the data

Looking at the first samples:

In [27]:
df.head()

   Unnamed: 0  year sex       name     n      prop
0           1  1880   F       Mary  7065  0.072384
1           2  1880   F       Anna  2604  0.026679
2           3  1880   F       Emma  2003  0.020521
3           4  1880   F  Elizabeth  1939  0.019866
4           5  1880   F     Minnie  1746  0.017888

How many unique names are collected?

In [28]:
(df['name'].nunique(), df['name'].size)

(92600, 1792091)